{% extends "Tracker/base.html" %}

{% block title %}Profile-Alumni Tracker{% endblock title %} 


{% block body %}

{% include "Tracker/navbar.html" %}

<div class="container emp-profile">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="{{info.Image.url}}"  alt="Profile Image" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {{info.user.first_name}}
                    </h5>
                    <h6>
                        {{info.Work_profile}}
                    </h6>
                    
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                        <li><a class="nav-link" href="{% url 'cruds' info.id %}">Edit Profile</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <!-- <button class="btn btn-sm btn-secondary" type="submit">Edit Profile</button> -->
                <!-- <a class="btn btn-sm btn-secondary" href="{% url 'cruds' info.id %}">Edit Profile</a> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Roll No</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{info.RollNo}}</p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{request.user.email}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{info.phone_number}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Profession</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{data.profile_title}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Location</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{data.location}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Connection</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{data.connection}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Experience</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{data.experience}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Job Title</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{data.job_title}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>College Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{data.college_name}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Stream</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{data.stream}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Bodyend -->

{% endblock body %}
