:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
  }
  
  body {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}


  .img_center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    margin-bottom:20px;
  }
  .img_left{
    display: block;
    width: 80px;
    margin-bottom:20px;
  }
  .card-signin {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-signin .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  .card-signin .card-body {
    padding: 2rem;
  }
