{% load static %}
{% block content_a %}

<div class="row pt-md-5 mt-md-3 mb-5">
    <div class="col-xl-3 col-sm-6 p-2">
        <div class="card card-common" style="height: 10rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between">

                    <i class="far fa-building fa-3x text-warning"></i>
                    <div class="text-center text-secondary">
                        <h5>Cities</h5>
                        
                        
                        <h3>{{cities}}</h3>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-sm-6 p-2">
        <div class="card card-common"style="height: 10rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between">

                    <i class="fab fa-cuttlefish fa-3x text-success"></i>
                    <div class="text-right text-secondary">
                        <h5>Companies</h5>
                        <h3 class="text-center">{{company}}</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-sm-6 p-2">
        <div class="card card-common"style="height: 10rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <i class="fas fa-users fa-3x text-info"></i>
                    <div class="text-right text-secondary">
                        <h5>Users</h5>
                        <h3>15,000</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-xl-3 col-sm-6 p-2">
        <div class="card card-common"style="height: 10rem;">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <i class="fas fa-chart-line fa-3x text-danger"></i>
                    <div class="text-right text-secondary">
                        <h5>Visitors</h5>
                        <h3>45,000</h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


{% endblock %}