{% block content_foot %}
<div class="container-fluid fixed-bottom foot">
    <div class="row ">
        <div class="col-xl-12 col-lg-9 col-md-8 ">

            <div class="row border-top pt-2">
                <div class="col-lg-6 text-center">
                    <ul class="list-inline">
                        <li class="list-inline-item mr-2">
                            <a href="#" class="text-dark name">Follow us:</a>
                        </li>
                        <li class="list-inline-item mr-2">
                            <a href="https://bit.ly/373olvM"><i
                                    class="fab fa-whatsapp fa-2x text-dark whatsapp"></i></a>
                        </li>
                        <li class="list-inline-item mr-2">
                            <a target="_blank" href="https://www.facebook.com/sagargroupofinstitutionssistec"><i
                                    class="fab fa-facebook fa-2x text-dark facebook"></i></a>
                        </li>
                        <li class="list-inline-item mr-2">
                            <a target="_blank" href="https://twitter.com/sagarcollege"><i
                                    class="fab fa-twitter fa-2x text-dark twitter"></i></a>
                        </li>
                        <li class="list-inline-item mr-2">
                            <a target="_blank" href="https://www.instagram.com/sagarcollegebhopal/"><i
                                    class="fab fa-instagram fa-2x text-dark instagram"></i></a>
                        </li>
                        <li class="list-inline-item mr-2">
                            <a target="_blank"
                                href="https://www.linkedin.com/in/sagar-group-of-institutions-sistec-77653a7b/"><i
                                    class="fab fa-linkedin fa-2x text-dark linkedin"></i></a>
                        </li>
                        <li class="list-inline-item mr-2">
                            <a target="_blank" href="https://www.youtube.com/channel/UCytOCmxQb7IFU2BVFdI7T7w"><i
                                    class="fab fa-youtube fa-2x text-dark youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 text-left">
                    <p>© 2020, Digital Team, <a href="http://sistec.ac.in" target="_blank">Sagar Group of
                            Institutions</a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}