{% load static %}
{% block content %}
<nav class="navbar navbar-expand-md navbar-light">
    <button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#myNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="container-fluid">
        <div class="row">
          <!-- sidebar -->
          <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">

            <div class="bottom-border my-3">
              <p class="aligncenter">
                <img src="{% static 'image/logo.png' %}" width="80" class=" mr-3">
              </p>

            </div>
            <ul class="navbar-nav flex-column mt-4">
                <li class="nav-item"><a href="{% url 'dashboard' %}" class="nav-link text-white p-3 mb-2 current"><i
                            class="fas fa-home text-light fa-lg mr-3"></i>Dashboard</a></li>
                
                <!-- <li class="nav-item"><a onclick="loadDoc()" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                            class="fas fa-sync-alt text-light fa-lg mr-3"></i>Scrapping</a></li> -->
                <li class="nav-item"><a href="{% url 'analytics' %}" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                            class="fas fa-chart-line text-light fa-lg mr-3"></i>Analytics</a></li>
                <li class="nav-item"><a href="{% url 'charts' %}" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                            class="fas fa-chart-bar text-light fa-lg mr-3"></i>Charts</a></li>
                <li class="nav-item"><a href="{% url 'tables' %}" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                            class="fas fa-table text-light fa-lg mr-3"></i>Tables</a></li>
                <li class="nav-item"><a href="{% url 'companies' %}" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                            class="fas fa-file-alt text-light fa-lg mr-3"></i>Companies</a></li>
                <li class="nav-item"><a href="{% url 'map' %}" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                            class="fas fa-map text-light fa-lg mr-3"></i>MAp</a></li>
                  <li class="nav-item"><a href="{% url 'info' %}" class="nav-link text-white p-3 mb-2 sidebar-link"><i
                              class="fas fa-home text-light fa-lg mr-3"></i>Go Home</a></li>
            </ul>
          </div>
          <!-- end of sidebar -->

          <!-- top-nav -->
          <!-- <div class="col-xl-10 col-lg-9 col-md-8 ml-auto bg-dark fixed-top py-2 top-navbar">
            <div class="row align-items-center">
              <div class="col-md-9">
                <h4 class="text-light text-uppercase mb-0">Dashboard</h4>
              </div>
              
              <div class="col-md-3">
                <ul class="navbar-nav">
                  
                  <li class="nav-item ml-md-auto"><a href="#" class="nav-link" data-toggle="modal"
                      data-target="#sign-out"><i class="fas fa-sign-out-alt text-danger fa-lg"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
          end of top-nav -->
        </div>
      </div>
    </div>
  </nav>

                {% endblock %}
                