{% block content_post %}
<div id="accordion">
  <div class="card">
    <div class="card-header">
      <button class="btn btn-block bg-secondary text-light text-left" data-toggle="collapse" data-target="#collapseOne">
        <img src="images/cust1.jpeg" width="50" class="mr-3 rounded">
        John posted a new comment
      </button>
    </div>
    <div class="collapse show" id="collapseOne" data-parent="#accordion">
      <div class="card-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis earum modi delectus fugiat consectetur
        eaque harum obcaecati, saepe id vitae, dolore aliquam! Quos, doloribus quisquam.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-block bg-secondary text-light text-left" data-toggle="collapse" data-target="#collapseTwo">
        <img src="images/cust2.jpeg" width="50" class="mr-3 rounded">
        Mark posted a new comment
      </button>
    </div>
    <div class="collapse" id="collapseTwo" data-parent="#accordion">
      <div class="card-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis earum modi delectus fugiat consectetur
        eaque harum obcaecati, saepe id vitae, dolore aliquam! Quos, doloribus quisquam.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-block bg-secondary text-light text-left" data-toggle="collapse"
        data-target="#collapseThree">
        <img src="images/cust3.jpeg" width="50" class="mr-3 rounded">
        Monica posted a new comment
      </button>
    </div>
    <div class="collapse" id="collapseThree" data-parent="#accordion">
      <div class="card-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis earum modi delectus fugiat consectetur
        eaque harum obcaecati, saepe id vitae, dolore aliquam! Quos, doloribus quisquam.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-block bg-secondary text-light text-left" data-toggle="collapse"
        data-target="#collapseFour">
        <img src="images/cust4.jpeg" width="50" class="mr-3 rounded">
        Vivien posted a new comment
      </button>
    </div>
    <div class="collapse" id="collapseFour" data-parent="#accordion">
      <div class="card-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis earum modi delectus fugiat consectetur
        eaque harum obcaecati, saepe id vitae, dolore aliquam! Quos, doloribus quisquam.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-block bg-secondary text-light text-left" data-toggle="collapse"
        data-target="#collapseFive">
        <img src="images/cust5.jpeg" width="50" class="mr-3 rounded">
        Nick posted a new comment
      </button>
    </div>
    <div class="collapse" id="collapseFive" data-parent="#accordion">
      <div class="card-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis earum modi delectus fugiat consectetur
        eaque harum obcaecati, saepe id vitae, dolore aliquam! Quos, doloribus quisquam.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <button class="btn btn-block bg-secondary text-light text-left" data-toggle="collapse" data-target="#collapseSix">
        <img src="images/cust6.jpeg" width="50" class="mr-3 rounded">
        Ann posted a new comment
      </button>
    </div>
    <div class="collapse" id="collapseSix" data-parent="#accordion">
      <div class="card-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis earum modi delectus fugiat consectetur
        eaque harum obcaecati, saepe id vitae, dolore aliquam! Quos, doloribus quisquam.
      </div>
    </div>
  </div>
</div>


{% endblock %}