{% block content_t2 %}
<h3 class="text-muted text-center mb-3">Placements(most companies)</h3>
<table class="table table-striped bg-light text-center">
    <thead>
        <tr class="text-muted">


            <th>Company</th>
            <th>Working students</th>
            <th>Highest package</th>


        </tr>
    </thead>
    <tbody>
        {% if d %}
        
        <tr>
            <td>TCS</td>
            <td>50</td>
            <td>5LPA</td>

        </tr><tr>
            <td>Cognigent</td>
            <td>46</td>
            <td>7LPA</td>

        </tr><tr>
            <td>Mahindra</td>
            <td>43</td>
            <td>8LPA</td>

        </tr><tr>
            <td>Infosys</td>
            <td>40</td>
            <td>5LPA</td>

        </tr>
            

</table>
{% else %}
<th>No Records</th>
{% endif %}
<!-- pagination -->

{% if d.paginator.num_pages > 1 %}

<!-- start -->
{% include 'dashboard/_pagination.html' with d=d %}
<!-- end -->

{% endif %}

<!-- end of pagination -->
</div>
</div>
</div>
</div>
</div>
<!-- end of table -->

{% endblock %}