{% block content_t %}


<h3 class="text-muted text-center mb-3">Student Information</h3>
<table class="table table-dark table-hover text-center">

    <thead>
        <tr class="text-muted">

            <th>Name</th>
            <th>Company</th>
            <th>EnrollNumber</th>
            <th>Status</th>
            <th>Branch</th>
            <th>Degree</th>
            <th>LinkedIn Profile</th>
        </tr>
    </thead>
    <tbody>
        {% if d %}
        {% for i in d %}
        <tr>

            <td>{{i.user}}</td>
            <td>{{i.Company}}</td>
            <td>{{i.RollNo}}</td>
            <td>{{i.Work_profile}}</td>
            <td>{{i.Branch}}</td>
            <td>{{i.Degree}}</td>
            <td><a href="{{i.linkedIn_Link}}">{{i.user}}</a></td>

        <tr>
            {% endfor %}

</table>
        {% else %}
            <th>No Records</th>
        {% endif %}


{% if d.paginator.num_pages > 1 %}

<!-- start -->
{% include 'dashboard/_pagination.html' with d=d %}
<!-- end -->

{% endif %}

{% endblock %}