{% block content_tasklist %}
<div class="bg-dark text-white p-4 rounded">
    <h4 class="mb-5">Progress Bar</h4>
    <h6 class="mb-3">Registered Student</h6>
    <div class="progress mb-4" style="height: 20px">
        <div class="progress-bar progress-bar-striped font-weight-bold" style="width: 91%">
            91%
        </div>
    </div>
    <h6 class="mb-3">Ragistered Teachers</h6>
    <div class="progress mb-4" style="height: 20px">
        <div class="progress-bar progress-bar-striped font-weight-bold bg-success" style="width: 82%">
            82%
        </div>
    </div>
    <h6 class="mb-3">Registered Alumni</h6>
    <div class="progress mb-4" style="height: 20px">
        <div class="progress-bar progress-bar-striped font-weight-bold bg-danger" style="width: 67%">
            67%
        </div>
    </div>
    <h6 class="mb-3">Others</h6>
    <div class="progress mb-4" style="height: 20px">
        <div class="progress-bar progress-bar-striped font-weight-bold bg-info" style="width: 10%">
            10%
        </div>
    </div>
</div>
{% endblock %}